@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 100%;

}
/**** partie header ****/
header{
    display: flex; /*create 2 colonnes on header*/
    justify-content: space-between; /* créer un espace entre les elements du header*/
    background-color: #003153;
    padding: 10px 10px;
    height: 120px;
    border: 1px solid #333333;
}
.logo{
    font-size: 3.5em;
    display: flex;
    align-self: flex-end;
    max-width: 400px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.navbloc{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 10px;
}
.navbloc p{
    text-align: right; /* Place la date tout a droite*/
    color: #5D8AA8;
}

.navbloc nav ul{
    list-style-type: none;/*enlever les points devant les listes*/
    display:flex; /* aligner la liste de navigation */
    gap: 2em;
    margin: 0;
}

.navbloc nav ul li a{
    text-decoration: none;
    color: white;
}
/****Partie footer****/
footer{
    display: flex;
    align-self:flex-end;
    justify-content: space-between;
    background-color: #003153;
    height: 50px;
    padding: 10px 10px;

}
footer a{
    color: #5D8AA8;
    align-self: flex-end;
    text-decoration: none; 

}
footer ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: 0;
    align-self: flex-end; /* mets la liste en bas de son élément parent footer*/
}
footer ul li a{
    color: white;
    text-decoration: none;
}