@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;   
}
body{
    font-family: 'Roboto', sans-serif;
}
/************************************** CSS Homepage *************************************/
header, footer, .calltoaction{
    background-color: #1F2937;
}
.wrap-header,.wrap-call,.boxes,.wrap-footer{
    width: 900px;
    margin: auto;
}
    /******************************  header section ******************************/
.wrap-header{
        display: flex; /*create 2 colonnes on header*/
        justify-content: space-between; /* créer un espace entre les elements du header*/
}

header{
    padding-top: 20px;
    height: 120px;
}
.logo{
    font-size: 3em;
    display: flex;
    align-self: center;
    max-width: 400px;
}
.logo a{
    text-decoration: none;
    color: white;
    line-height: 1em;
}
.logo a:hover{
    color:#678E86;
}
.navbloc{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 10px;
}
.navbloc p{
    text-align: right; /* Place la date tout a droite*/
    color: #678E86;
}

.navbloc nav ul{
    list-style-type: none;/*enlever les points devant les listes*/
    display:flex; /* aligner la liste de navigation */
    gap: 2em;
    margin: 0;
}

.navbloc nav ul li a{
    text-decoration: none;
    color: white;
}
.navbloc nav ul li a:hover{
    color:#678E86;
}

        /****************************** homepage main section ******************************/

            /*** Call to action section ***/
.calltoaction{
    margin: auto;
    text-align: center;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.calltoaction h1{
    color: #678E86;
}
.calltoaction p{
    line-height: 2em;
    color: white;
}

.wrap-call > a{
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border: 1px white solid;
    border-radius: 5px;
    font-size: 0.8em;
}
.wrap-call > a:hover{
    background-color: #678E86;
    font-weight: bold;
}
            /***  Infos section  ***/

.boxes{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 32px;
    height: 420px;
}
.box{
    max-width: 200px;
    margin: auto;
}
.img-title, .paragraph{
    color: grey;
}
.img-subtitle{
    color: #678E86;
}
.contentImage{
    width: 200px;
    height: 150px;
}
/* Faire ajuster l'image a son conteneur*/
.contentImage > a img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
/* images get bigger on hover*/
.full:hover{  
    width:210px;
    height:160px;  
}

        /****************************** footer section ******************************/
footer{
    height: 60px;
    padding: 0px 10px;

}
.wrap-footer{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
}

footer a{
    color: #678E86;
    text-decoration: none; 
    
}
footer a:hover{
    color: white;
}
footer ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: 0;

}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color:#678E86;
}
/****************************** CSS inscription, programme, conferenciers & venue pages ******************************/

.header-inscription, .header-programme, .header-venue, .header-conferenciers {
    text-align: center;
    background-color: #B4E0BB;
    height: 120px;
    color: gray;
    padding: 20px;
}
        /****************************** inscription page ******************************/
.main-inscription {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    color: gray;
    height: 100%;
    width: 900px;
    margin: auto;
    padding-top: 100px;
}
.section2{
    width: 35%;
}
.section1{
    width: 65%;
}
.title1, .title2 , .label , .title3{
     color: #678E86;
}
.title1{
    margin-top: 0px;
}
.article1{
    margin-right:  20px ;
}
.acheter-button{
    color:white ;
    background-color: #688B83;
    text-align: center;
    height: 30px;
    width: 100px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
}
        /****************************** programme page ******************************/
.main-programme {
    font-size: 13px;
    color: gray;
    width: 900px;
    margin: auto;
}

.table-programme {
    margin-top: 25px;
    width: 100%;
    padding: 25px;
}
.col1{
    width: 15%;
    text-align: right;
    padding-right: 20px
}
.col2 , .col3{
width: 42.5%;
}

.tab-title1, .tab-title2 {
    color: #678E86;
}

.tab-title1 {
    font-size: 18px;
}

.tab-title2 {
    font-size: 15px;
}

.table-programme tr {
    height: 25px;
}

#comment {
    border-radius: 5px;
    border-color: lightgrey;
    width: auto;
    height: 55px;
}

.input-inscription {
    border-radius: 5px;
    width: auto;
    height: 20px;
    border-color: lightgrey;
}

#places {
    border-radius: 5px;
    width: 35px;
    height: 25px;
}
/****************************** CSS conferenciers pages ******************************/

.content-speaker{
    width: 100px;
    height: 100px;
    margin: auto;
}
.content-speaker > img{
    width: 100%;
    height: auto;
    margin: auto;
    border: 1px #678E86 solid;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 
}
.content-speaker > p{
    text-align: center;
}
.conferencier{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}
.article{
    width: 700px;
    padding: 10px;
    margin: auto;
}
.article > h3, .article > p{
    color: grey;
}

.speaker-name a{
    text-decoration: none;
    color: #678E86;
    font-weight: bold;
    padding: 5px;
}
.speaker-name a:hover{
    background-color:#678E86;
    color: white;
    border-radius: 10px;
}

.section-venue-1 {
    width: 30%;
}

.section-venue-2 {
    width: 65%;
    margin-left: 5px;
}

.main-venue {
    font-size: 13px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

#carte {
    height: 300px;
}